.main-font{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.primary-color-bg{
    background-color: #578cbe;
}
.secondary-color-bg{
    background-color: #2b4e7c;
}
.tertiery-color-bg{
    background-color: #eef3f0;
}
.primary-color-txt{
    color:  #578cbe;
}
.secondary-color-txt{
    color:  #2b4e7c;
}
.tertiery-color-txt{
    color: #eef3f0;
}

li {
    margin-right: 10px;
}

.body-item{
    margin:2%;
}

.body-panel{
    padding-top: 5%;
    margin-top: 5%;
}


.accordion-button{
    
    background-color: #2b4e7c !important;
    color: #eef3f0 !important;
}

.anchor{
    scroll-margin-top: 150px;
}


@media (max-width: 600px) {
    .anchor{
        scroll-margin-top: 500px;
    };
}
