@import './base.css';

#app {
  align-self:center;
  margin: 0 auto auto auto;
  font-weight: normal;
  min-width: 100%;
  min-height: 1000px;
  background-image: linear-gradient(var(--color-background-mute), var(--color-background-mute)), url("/icoicon.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 110%;
}

.bg-primary{
  background-color: var(--accent-primary) !important;
}

.navbar-brand, .nav-link, .nav-item {
  color: var(--color-heading) !important;
  background-color: transparent !important;
}

.nav-link:hover {
  font-size: x-large;
  text-shadow: 1px 1px var(--accent-secondary);
}

.navbar-toggler,
.navbar-toggler:active {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:hover {
  filter: drop-shadow(0px 4px 4px var(--accent-secondary));
}

.navbar {
  padding-left: 10px !important;
  padding-right: 10px !important;
  filter: drop-shadow(0px 4px 8px var(--accent-primary));
}

.navbar:hover {
  filter: drop-shadow(0px 4px 8px var(--accent-secondary));
}

.card-group {
  margin-right: 10% !important;
  margin-left: 10% !important;
}

.card {
  margin-right: 20px;
  margin-top: 20px;
  background: var(--accent-primary);
  color: var(--accent-secondary);
  min-width: 300px !important;
  max-width: 50% !important;
  border-radius: 15px !important;
  opacity: 0.9;
  filter: drop-shadow(0px 4px 4px var(--accent-primary));

}

.skill  {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px var(--accent-secondary);
  margin-left: 10px;
}

.emphasis {
  text-shadow: 1px 1px var(--accent-secondary);
}

.card:hover {
  text-shadow: 1px 1px var(--accent-secondary);
  box-shadow: 10px 10px var(--accent-secondary);
  filter: drop-shadow(0px 4px 4px var(--accent-secondary));
  opacity: 1;
}

.skill:hover {
  box-shadow: 5px 5px 10px var(--accent-secondary);
}

.card-text {
  font-size: large;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  opacity: 0.9;
  filter: brightness(2) drop-shadow(1px 2px 2px lightblue);
}

.icon:hover {
  max-height: 75px;
  max-width: 75px;
  background-color: transparent !important;
  filter: brightness(3) drop-shadow(1px 2px 5px lightblue);
}

.contrast:hover {
  scale: 1.2 !important;
  filter: drop-shadow(0px 4px 4px var(--accent-secondary)) !important;
}

@media (prefers-color-scheme: dark) {
  .contrast {
    filter: invert(1) !important;
  }

  .contrast:hover {
    filter: invert(1) drop-shadow(0px 4px 4px var(--accent-secondary)) !important;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    background-size: 80%;
  }

  body {
    display: flex;
    place-items: center;
  }

}

@media (max-width: 650px) {
  #app {
    background-size: 200%;
  }
}


